header{
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    margin-bottom: 40px;
    width: 100%;
    background-color: aquamarine;
    z-index: 100;
}

body{
    background-color: rgb(244, 233, 220);
    margin-top: 10%;
}

#prob1{
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;

}

#problem1{
    text-align: left;
    margin-top: 5%;
}


p{
    margin-left: 25%;
    margin-right: 25%;
    text-align: left;
}

#button1{
    margin-top: 1.5%;
}

h3{
    text-align: left;
    margin-top: 2%;
    font-size: 25px;
}

#prob2{
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;

}

#problem2{
    text-align: left;
    margin-top: 5%;
    
}



ul{
    margin-left: 22.5%;
    margin-right: 25%;
    text-align: left;
}

#choice2{
    margin-left: 4%;
}

#choice3{
    margin-left: 4%;
}

#choice4{
    margin-left: 4%;
}

#empty{
    margin-left: 25%;
    margin-right: 25%;
    text-align: left;
}

#answer1{
    margin-left: 25%;
    margin-right: 25%;
    text-align: left;
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: red;
}

#button2{
    margin-top: 25px;
    margin-left: 5px;
}

#answer2{
    margin-left: 25%;
    margin-right: 25%;
    text-align: left;
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: red;
}

img{
    margin: auto;
    display: block;
    width: 50%;
    height: 50%;
}

#prob3{
    margin-left: 25%;
    margin-right: 25%;
    text-align: left;
}

#button3{
    margin-top: 25px;
}

#answer3{
    margin-left: 25%;
    margin-right: 25%;
    text-align: left;
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: red;
}

#final{
    margin-top: 70px;
    margin-left: 25%;
    margin-right: 25%;
    text-align: left;
    font-size: 30px;
    font-weight: bold;
}

#textbox{
    width: 400px;
    height: 30px;
}
