#pageTitle{
   width: 100%;
   text-align: center;
   background-color: aqua;
}

#prob1{
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;

}

#problem1{
    text-align: left;
    margin-top: 5%;
}


p{
    margin-left: 25%;
    margin-right: 25%;
    text-align: left;
}

#button1{
    margin-top: 1.5%;
}

#context1{
    text-align: left;
    margin-top: 2%;
    font-size: 25px;
}

#prob2{
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;

}

#problem2{
    text-align: left;
    margin-top: 5%;
    
}

#context2{
    text-align: left;
    font-size: 25px;
}

ul{
    margin-left: 22.5%;
    margin-right: 25%;
    text-align: left;
}

#choice2{
    margin-left: 4%;
}

#choice3{
    margin-left: 4%;
}

#choice4{
    margin-left: 4%;
}

#empty{
    margin-left: 25%;
    margin-right: 25%;
    text-align: left;
}

#answer1{
    margin-left: 25%;
    margin-right: 25%;
    text-align: left;
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: red;
}

#button2{
    margin-top: 25px;
    margin-left: 5px;
}

#answer2{
    margin-left: 25%;
    margin-right: 25%;
    text-align: left;
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: red;
}
